.field h1{
    text-align: center;
}
.tabledescription td{
    background-color:#E6E6FA;
}

td{
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFE4E1	;
    text-align: center;
}

p{
    
}
#highlight{
    background-color: peachpuff;
    color:#3CB371;
}
*{
    box-sizing: border-box;

}
