p{
    margin-left: 20px;
    margin-right: 20px;
}

td{
    width: 150px;
}

#highlight{
    background-color: peachpuff;
    color:palegreen;
}

iframe{
    display: block;
    margin: 0 auto;
}

h1{
    margin-left: 20px;
}